.not-found-container {
  background-color: azure;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-warning-text {
  line-height: 1.5;
  font-family: "Roboto";
  padding: 15px;
  background: #d3c7c7;
  text-align: center;
  border-radius: 12px;
  box-shadow: 3px 3px 6px #000;
  color: rgb(200, 8, 110);
  font-weight: 600;
  min-height: 200px;
}
.navigate-text {
  font-size: 18px;
  font-weight: 600;
}
